h2 {
    font-family: Nunito,system-ui,BlinkMacSystemFont,-apple-system,sans-serif;
    color: #3c4b5f;
}
.dashboard-title {
  color: white;
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px #566766;
  font-family: "Droid Sans", system-ui, sans-serif;
  font-weight: 700;
}
.nav-gradient {
  background: linear-gradient(0deg, rgb(27, 44, 84), rgb(123 232 171));
}
